* {
    margin: 0;
    padding: 0;
    
}

header,
section h2,
section h3 {
    font-family: 'Squada One', sans-serif;
    font-weight: bold
}

section h2 {
    background-color: #00030c;
    color: #ecf0f1;

}

body,
input,
textarea {
    font-family: 'Oxanium', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #00030c;
    color: #ecf0f1;
    width: 100%;
}


header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

.messi-foto {
    margin-top: 8px;
    width: 100%;
    border-radius: 1%;
}

#dicas .container {
    display: block;
}

.dicas-play {
    display: flex;
    border-top: none;
    padding-top: 0;
    justify-content:space-between;
   
}

.card img {
    
    height: 200px;
    width: 300px;
    
}

.card {
    margin: 0px;
    
}

div .conteudo {
    width: 300px;
    margin: 0;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px;
}

section h2 {
    margin-bottom: 16px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: #00030c;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    width: 340px;
}

form button:hover {
    background-color: #314a91;
}

input:focus,
textarea:focus {
    outline: #283b72;
}

.social-link img {
    height: 30px;
}

.social-link {
    display: flex;
    justify-content: center;
}

.social-link li {
    display: inline;
    margin-right: 8px;
}

.social-link li a {
    text-decoration: none;
    align-items: center;

}

section h3 {
    margin: 16px;
}

footer {
    padding: 16px 0;
    background-color: #00030c;
    color: #ecf0f1;
}

@media screen and (max-width: 768px) {
    .container,.contact-methods, .dicas-play{
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

  }